.modal-header {
  margin-bottom: 12px;
  padding-top: 36px;

  .form-title {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.03em;
  }
}
.modal-main {
  padding: 0 40px;

  .form-control {
    margin-bottom: 10px;

    & > label {
      display: block;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.01em;
      margin-bottom: 4px;
    }
    .input-control {
      position: relative;
      &:focus-within {
        fill: var(--blue);
      }
      &:hover > input {
        border: 1px solid var(--blue);
      }
      & > input:focus {
        border: 1px solid var(--blue);
      }
      &:hover > .prefix-icon > svg {
        fill: var(--blue);
      }
      & > input {
        padding-left: 42px;
        padding-right: 12px;
        width: 100%;
        height: 40px;
        border: 1px solid var(--form-border);
        border-radius: 4px;
        outline: none;
        @extend %transition;
      }
      .prefix-icon {
        left: 0;
        position: absolute;
        top: 0;
        height: 100%;
        width: 42px;
        display: flex;

        & > svg {
          width: 12px;
          height: 12px;
          margin: auto;
          @extend %transition;
        }
      }
    }
    ///////////////TEXTAREA/////////////// */
    & > textarea {
      width: 100%;
      height: 120px;
      padding: 12px 16px;
      border: 1px solid var(--form-border);
      border-radius: 4px;
      outline: none;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.01em;
      resize: none;
      @extend %transition;

      &:hover,
      &:focus {
        border: 1px solid var(--blue);
      }
      &::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        color: var(--form-textarea-placeholder);
      }
    }
  }
}
.modal-footer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

/* /////////////CHECKBOX////////////////////// */
.checkbox-container {
  position: relative;
  margin-top: 20px;

  .form-checkbox {
    appearance: none;

    &:hover + .terms-checkbox::before,
    &:focus + .terms-checkbox::before {
      border-color: var(--blue);
    }
    &:checked + .terms-checkbox::after {
      opacity: 1;
    }
  }
  .terms-checkbox {
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--description-gray);
    padding-left: 33px;

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      transform: translateY(-50%);
      left: 13px;
      width: 16px;
      height: 15px;
      border: 2px solid var(--black-text);
      border-radius: 2px;
      @extend %transition;
    }
    &::after {
      position: absolute;
      content: "";
      top: 50%;
      transform: translateY(-50%);
      left: 13px;
      width: 16px;
      height: 15px;
      background-color: var(--blue);
      border-radius: 2px;
      @extend %transition;
      opacity: 0;
    }
    & > a {
      color: var(--blue);
    }
    & > svg {
      width: 11px;
      height: 8px;
      position: absolute;
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
      fill: var(--title-white);
      z-index: 1;
      cursor: pointer;
    }
    &:focus > svg {
      background-color: var(--blue);
    }
  }
}
