.text-title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.text-description {
  margin-top: 10px;
  color: var(--description-gray);
  @media (min-width: 480px) {
  font-size: 14px;
  line-height: 1.71;
  }
  
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.disable-scroll {
  overflow: hidden;
}
.modal-hidden{
  display: none;
}
.is-open{
  display: block;
}
