.footer-form {
  margin-left: 93px;

  .footer__subscription {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-white);
    margin-bottom: 20px;
  }
  .link__subscription {
    display: flex;
    gap: 12px;

    .footer__email-input {
      width: 358px;
      height: 50px;
      border: 1px solid var(--footer-border-input);
      outline: var(--blue);
      border-radius: 4px;
      background: none;
      padding: 15px;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.03em;
      color: var(--footer-link-text);
      @extend %transition;

      &:hover,
      &:focus {
        border: 1px solid var(--blue);
      }
    }
    .button__subscription {
      width: 200px;
      @extend %flex-center;
      gap: 10px;
      height: 50px;
      font-weight: 700;
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 0.06em;
      border: none;
      box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
      border-radius: 4px;
      background-color: var(--blue);
      color: var(--title-white);
      @extend %transition;
      cursor: pointer;

      &:hover {
        background-color: var(--button-light-blue);
      }
      & > svg {
        width: 24px;
        height: 24px;
        fill: var(--title-white);
      }
    }
  }
}
