.footer {
  background-color: var(--background-light-black);
  padding-bottom: 60px;
  padding-top: 60px;
}
.footer-box {

@media(min-width: 768px) {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media(min-width: 1200px) {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  padding: 0;
}
  
}
.address__box {
  text-align: center;
  margin-bottom: 60px;

  @media (min-width: 1200px) {
    margin-right: 70px;
    margin-bottom: 0;
    text-align: inherit;
  }
  
}
.address-footer {
  display: block;
  color: var(--description-gray);
  font-size: 14px;
  line-height: 1.71;
  margin-top: 20px;

  .footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 9px;

    .address__map {
      text-decoration: none;
      color: var(--title-white);
      font-style: normal;
    }
    .contact__footer {
      text-decoration: none;
      color: var(--description-gray);
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      display: block;
      font-style: normal;
      @extend %transition;

      &:hover,
      &:focus {
        color: var(--blue);
      }
    }
  }
}
.item-soc-footer {
  height: 80px;
  gap: 10px;
  margin-bottom: 60px;
  @media(min-width: 768px){
    margin-bottom: 0;
  }
  

  .soc__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: var(--title-white);
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    @media(min-width: 1200px){
      text-align: inherit;
    }
  }
  .soc__footer-list {
    justify-content: center;
    display: flex;
    gap: 10px;

    .soc__footer-link {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: var(--net-link-footer-buckground);
      transition-property: background-color;
      display: flex;
      align-items: center;
      justify-content: center;
      @extend %transition;

      &:hover,
      &:focus {
        background-color: var(--icon-background-blue);
      }
      .soc__footer-icon {
        fill: var(--title-white);
      }
    }
  }
}
