.header {
  border-bottom: 1px solid var(--border-header);
}

.header__list {
  display: flex;
}
.menu-nav {
  display: none;
  gap: 50px;
  margin-left: 93px;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 0;
  }

  .nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: inherit;
    padding: 32px 0;
    display: block;
    text-decoration: none;
    @extend %transition;
    &:hover,
    &:focus {
      color: var(--blue);
    }
  }
  .active {
    color: var(--blue);
    position: relative;

    &::after {
      content: "";
      position: absolute;
      display: block;
      bottom: -1px;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--blue);
    }
  }
}

.contacts {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
  @media (min-width: 1200px) {
    gap: 30px;
    margin-left: 280px;
    display: flex;
    margin-left: 0;
  }

  .header__link {
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--description-gray);
    fill: var(--blue);
    gap: 10px;
    display: flex;
    align-items: center;
    @extend %transition;
    &:hover,
    &:focus {
      color: var(--blue);
    }
    &:first-child{
      margin-bottom: 10px;
      @media (min-width: 1200px) {
        margin-bottom: 0;
      }
    }
    &:focus .icon__header,
    &:hover .icon__header {
      fill: var(--blue);
    }
    .icon__header {
      fill: var(--description-gray);

      &:hover,
      &:focus {
        fill: var(--blue);
      }
    }
  }
}
// 