.hero {
      background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
    padding: 200px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    // background-color: var(--background-light-black);
  
   @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-size: 100%;
      padding: 140px 0;
      background-position: top;
      background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero@2x.jpg);
  };
}
.container > h1 {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  color: var(--title-white);
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  border: none;
  
  @media (min-width: 380px) {
    max-width: 100%;
    font-size: 26px;
    line-height: 42px;
  }
}
