.hero {
      background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero-mobile.jpg);
    padding: 15% 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    min-width: 320px;
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero-mobile@2x.jpg);
  }
}

@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ),
  url(../images/hero/hero-tablet.jpg);
  padding: 20% 0;
  }
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero-tablet@2x.jpg);
    padding: 20% 0;
    }
  }
}
@media (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ),
  url(../images/hero/hero-desktop.jpg);
  padding: 200px 0;
  max-width: 1600px;
  min-width: 1200px;
  }
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero-desktop@2x.jpg);
    padding: 200px 0;
    max-width: 1600px;
    min-width: 1200px;
    }
  }
}

.container > h1 {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  color: var(--title-white);
  font-size: 26px;
  line-height: 42px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  border: none;
  
  @media (min-width: 1200px){
    width: 700px;
    font-size: 44px;
    line-height: 60px;
  }
  
}
