:root {
  --black-text: #212121;
  --background-light-black: #2f303a;
  --description-gray: #757575;
  --title-white: #ffffff;
  --blue: #2196f3;
  --button-hover-dark-blue: #338aab;
  --button-light-blue: #188ce8;
  --icon-background-blue: #2196f3;
  --teamsection-light-white: #f5f4fa;
  --border-header: #ececec;
  --border-list: #eeeeee;
  --soc-icon: #afb1b8;
  /* -----------------------rgba----------------------------- */
  --net-link-footer-buckground: rgba(255, 255, 255, 0.1);
  --overley-item-color: rgba(33, 150, 243, 0.9);
  --photo-text-color: rgba(47, 48, 58, 0.8);
  --backdrop-backgroung: rgba(0, 0, 0, 0.2);
  --form-border: rgba(47, 48, 58, 0.4);
  --form-textarea-placeholder: rgba(117, 117, 117, 0.5);
  --footer-link-text: rgba(255, 255, 255, 0.6);
  --footer-border-input: rgba(255, 255, 255, 0.3);
}
